.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    --dark-gray: hsl(0, 0%, 59%);
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-size: 18px;
    background-color: var(--dark-cyan);
    background-image: url(https://www.zahoornoman0.github.io/profile-card-component/images/bg-pattern-top.svg), url(https://www.zahoornoman0.github.io/profile-card-component/images/bg-pattern-bottom.svg);
    background-position:  right 50vw bottom 50vh, left 50vw top 50vh;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    border-radius: 30px;
}
.wrapper{
    background-color: #fff;
    border-radius: 30px;
}
h2,
b {
    color: var(--very-dark-blue);
}

p,
span {
    color: var(--dark-gray);
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px 20px;
    border-top: 1px solid gray;
}
.name{
    margin-bottom: 50px ;
}
.top-img{
    border-radius: 30px 30px 0 0;
}
.avatar{
    border-radius: 50%;
    border: 5px solid white;
    margin: -50px 0 30px 0;
}
